<section class="container new-thoughts ff-inter">
  <header class="header-app">
    <h2>Adicione um <br>pensamento novo:</h2>
  </header>

  <form>
    <label for="thought">Pensamento</label>
    <input type="textarea" class="input" id="thought" name="thought" placeholder="Digite um pensamento" [(ngModel)]="thought.content">

    <label for="authorship">Autoria ou Fonte</label>
    <input type="text" class="input" id="authorship" name="authorship" placeholder="Digite uma autoria ou fonte" [(ngModel)]="thought.authorship">

    <label for="model">Selecione um modelo para seu card:</label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model-1">
          <input type="radio" id="model-1" value="model-1" name="model-card">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="model model-1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Aspas azuis escuro">
          <p class="content">{{ thought.content }}</p>
          <p class="authorship"><b>{{ thought.authorship }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model-2">
          <input type="radio" id="model-2" value="model-2" name="model-card">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="model model-2 ff-roboto-mono">
          <img src="../../../../assets/images/modelo2.png" alt="Aspas azuis claro">
          <p class="content">{{ thought.content }}</p>
          <p class="authorship"><b>{{ thought.authorship }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model-3">
          <input type="radio" id="model-3" value="model-3" name="model-card">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="model model-3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes">
          <p class="content">{{ thought.content }}</p>
          <p class="authorship"><b>{{ thought.authorship }}</b></p>
        </div>
      </div>
    </div>

    <div class="actions">
      <button (click)="createThought()" class="btn">Salvar</button>
      <button routerLink="/listarPensamento" class="btn">Cancelar</button>
    </div>
  </form>
</section>
